body
{
    min-width: 300px;

    text-align: center;

    background: url('./img/jabberwocky.jpg') no-repeat top fixed;
    background-size: 80% auto;
}
#other-sites a:link, a:visited{
	text-decoration: none;
}
#navbar-mine
{
    font-family: 'Libre Franklin', sans-serif;
    font-size: 125%;
    font-weight: bold;
}
#contact-info
{
    text-align: left;
}
.inverted
{
    display: inline-block;

    transform: scaleX(-1);
}
.top-window
{
    height: 300px;

    text-align: center;

    background: transparent ;
}
.main-body
{
    background-color: white;
}
.main-body p
{
    padding: 10px 0 5px 0;

    text-align: left;
}
#about-me p
{
    padding: 10px 10px 5px 10px;
}
.brand{
	font-family: 'Lora', serif;
}
#hustler{
	font-weight: bold;
	font-size: 120%;
	text-align: center;
	padding: 0;
	margin: 0;
}
hr
{
    width: 95%;

    border-top: 3px double #0f0f0f;
}
.top-image
{
    width: 50%;
    min-width: 300px;
    margin-right: auto;
    margin-left: auto;
    padding: 10px 25px 30px 10px;

    background-color: #0f0f0f;
}
.brand-name
{
    font-family: 'Libre Franklin', sans-serif;
    font-weight: normal;

    color: white;
}
.title
{
    font-family: 'Libre Franklin', sans-serif;
    font-weight: bold;
}
h2
{
    font-family: 'Libre Franklin', sans-serif;
    font-weight: bold;

    margin: 50px 0 0 0;
}
h3
{
    font-family: 'Libre Franklin', sans-serif;
    font-weight: normal;

    text-align: left;
}
.text
{
    font-family: 'Libre Baskerville', serif;
}

#top
{
    padding-top: 100px;
}
#my-pic
{
    height: 250px;
    margin-right: 20px;

    border-radius: 50%;

    alignment: center;
}
.portfolio-row
{
    padding: 5px 0 5px 0;

    border: 1px solid black;
}
.portfolio-img
{
    width: 300px;
    height: 300px;
}
.portfolio-text
{
    display: block;

    padding: 0;

    text-align: left;
}
.social
{
    padding: 20px;

    text-align: center;
}
.social p
{
    text-align: center;
}

.row
{
    margin-top: 40px;
}
footer p
{
    font-family: 'Libre Franklin', sans-serif;
    font-size: small;

    text-align: left;

    background-color: #8c8b8b;
}
hr.symbol
{
    padding: 0;

    text-align: center;

    color: #333;
    border: none;
    border-top: medium double #333;
}
hr.symbol:after
{
    font-family: FontAwesome;
    font-size: 1.5em;

    position: relative;
    top: -.7em;

    display: inline-block;

    padding: 0 .25em;

    content: '\f121';

    background: white;
}
